<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <nav>
        <div class="div">
            <a href="/">Job Site</a>
        </div>

        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/add">Add</a>
            </li>
        </ul>
    </nav>

    <h1>Hello CodeTribe Trainee</h1>
    <p>Nodejs Course</p>

    <h3>List of Registered Students</h3>
    <p>Number of Registered Students</p>
    <p>Function to display the number of registed students</p>
    
</body>
</html>